<form action="/adminauthentication" method="POST">
    <label for="password" class="input">
        <input type="password" id="password" name="password" placeholder="&nbsp">
        <span>Logga in med lösenord</span>
    </label>
    <input type="submit" value="Logga in">
</form>