.container .dropzone {
    max-width: 860px;
    border:none;
    background: var(--clr-box);
    box-shadow: var(--shadow);
    margin:50px auto;
    border-radius: 4px;
}

.container .dropzone.dz-drag-hover {
    border:none;
    background:var(--clr-prim);
    color:#fff;
}

.imagesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 880px;
    margin:0 auto;
}

.imagesList .image {
    width:200px;
    height:200px;
    margin: 10px;
}

.image img {
    width:100%;
    height: 100%;
    object-fit: cover;
}

.hideViewImage {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    display:none;
    z-index: 10001;
}

.viewImage {
    background-color: #fff;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 10002;
    height:90%;
    width: 90%;
    padding:30px;
}

.showImgPreview .viewImage, .showImgPreview .hideViewImage  {
    display: flex;
}

.viewImage > img {    
    max-height: 100%;
    width: calc(100% - 300px);
    object-fit: contain;
    object-position: 50% 16px;
}

.viewImage .sidebar {
    --sidebar-width: 240px;
    width:var(--sidebar-width);
    margin:0 30px;
    text-align:left;
    position: relative;
    overflow-y: auto;
}

.viewImage .closeViewImage {
    margin-left:auto;
    border:none;
    background: var(--clr-prim);
    font-weight: bold;
    color:#fff;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top:10px;
    right:10px;
    cursor: pointer;
}

.viewImage h3 {
    margin-bottom: 0;
    margin-top:16px;
}

.viewImage p {
    margin: 0;
}

.viewImage .thumbnail {
    width:var(--sidebar-width);
    height:var(--sidebar-width);
    object-fit: cover;
}

.viewImage .photographer {
    font-size:16px;
    padding:5px;
    display:block;
    margin-bottom:10px;
    width: 100%;
    border-radius: 4px;
    border: 2px solid #aaa;
}

.viewImage .updatePhotographer {
    padding:10px;
    display:block;
    width: 100%;
    background: var(--clr-prim);
    border:none;
    color:#fff;
    font-weight: bold;
    border-radius: 4px;
}

.viewImage .removeImage {
    color:#fff;
    background: var(--clr-prim-2);
    display:block;
    padding:10px 20px;
    text-align: center;
    border-radius: 4px;
}