<h1>Anmälan uppfödarlista - Sibirisk katt på Facebook</h1>
<p>
    Alla aktiva uppfödare i Facebookgruppen "Sibirisk katt" är varmt välkomna till denna uppfödarlista. <br>
    Vi tydliggör: ALLT arbete sker IDEELLT på vår FRITID. Vi gör detta för DIG, och framtida köpare av Sibirisk katt.
    
    <ul>
        <li>Förbättringsförslag: skicka PM till Anna Elmdahl.</li>
        <li>Tycker du vi gör något bra, så tala gärna om det öppet i gruppen.</li>
    </ul>

    <h3>Syfte:</h3>
    <ul>
        <li>Att synliggöra svenska uppfödare för köpare av Sibirisk katt/unge.</li>
        <li>Tillhandahålla en service till uppfödarna och den stora mängd medlemmar som letar Sibirisk katt.</li>
        <li>Besvara frekventa frågor från de som letar Sibir i grupperna "Sibirisk katt" och "Sibiriska katter och kullar" genom att hänvisa dem till Uppfödarlistan.</li>
    </ul>

    <h3>Publicering:</h3>
    <ul>
        <li>Uppfödarlistan publiceras på en hemsida där uppfödarna ej är synliga.</li>
        <li>Listan över uppfödare är ENDAST tillgänglig via länk i våra Facebookgrupper; en service till medlemmar.</li>
    </ul>

    UPPFÖDARE som finns med på Uppfödarlistan får: <br>
    <ul>
        <li>synliggöra kontaktuppgifter för våra tusentals medlemmar.</li>
        <li>visas för alla som söker katt via oss.</li>
        <li>möjlighet att aktivt bidra med kunskap och inlägg i grupperna och därigenom skapa förtroende för dig och din uppfödning.</li>
    </ul>

    Att vara aktiv i vår stora grupp och dela din kunskap och dina råd på ett vänligt sätt innebär att du bidrar till rasens bästa, vilket är vårt främsta uppdrag i "Sibirisk katt". <br> <br>

    Uppdatering av information: <br>
    OBS! Behöver du uppdatera din information REGISTRERAR DU DIG EN GÅNG TILL. Vi UPPDATERAR INGET, utan vi tar bort dubbletter. <br> <br>

    Eftersom vi ger dig detta utan kostnad och lägger mycket tid på våra grupper vill vi att DU också bidrar. Vi tillhandahåller uppfödarlistan till dig som: <br>
    <ul>
        <li>är aktiv huvudmedlem i en kattklubb  (t.ex. Sverak eller WCF) och kan ge registrerad stamtavla till dina kattungar.</li>
        <li>är aktiv medlem i "Sibirisk katt" och "Sibiriska katter och kullar".</li>
        <li>bidrar vänligt med att sprida kunskap, skapa god stämning och du ger mer till andra än du får.</li>
        <li>tycker att vår grupp är bra och stödjer vårt arbete för god gemenskap och spridande av kunskap runt Sibirisk katt.</li>
        <li>är en god ambassadör och rekommenderar våra grupper till alla som är intresserade av den sibiriska katten.</li>
    </ul>

    Vi jobbar med att sprida kunskap i våra grupper och har valt att synliggöra grundläggande utbildningar (Uppfödardiplomering och PawPeds). Vi skapar ett tillfälle för er att kommunicera kurser du gått. Med det hoppas vi uppmuntra att fler utbildar sig. <br> <br>

    Om du är bekväm med detta är du varmt välkommen!  <br> <br>

    Uppfödarlistan kan ENDAST nås via en länk (som förändras från tid till annan) vilken är publicerad i "Sibirisk katt" och "Sibiriska katter och kullar".  <br> <br>

    Uppfödarlistan är ENBART avsedd för medlemmarna i "Sibirisk katt" och "Sibiriska katter och kullar" och ska inte skickas vidare utanför gruppen. <br> <br>

    Vi förbehåller oss rätten att radera uppfödare från listan. <br> <br>

    Välkommen!
</p>
<form action="/uppfodarlista/add" method="POST">
    <label for="prefixSelect">Prefix Stamnamn</label>
    <select id="prefixSelect" name="prefix">
        <option>S*</option>
        <option>SE*</option>
        <option></option>
        <option>(N)</option>
        <option>NO*</option>
    </select>
    <label for="stamnamn">Stamnamn </label>
    <input required type="text" name="stamnamn" id="stamnamn">
    <label for="name">Namn på stamnamnsinnehavaren</label>
    <input required type="text" name="name" id="name">
    <label for="area">Vilket län finns du i?</label>
    <select id="area" name="area">
        <option>Norrbotten</option>
        <option>Västerbotten</option>
        <option>Jämtland</option>
        <option>Västernorrland</option>
        <option>Gävleborg</option>
        <option>Dalarna</option>
        <option>Västmanland</option>
        <option>Uppsala</option>
        <option>Värmland</option>
        <option>Örebro</option>
        <option>Stockholm</option>
        <option>Södermanland</option>
        <option>Västra Götaland</option>
        <option>Östergötland</option>
        <option>Jönköping</option>
        <option>Kalmar</option>
        <option>Gotland</option>
        <option>Halland</option>
        <option>Kronoberg</option>
        <option>Blekinge</option>
        <option>Skåne</option>
        <option>Norge</option>
    </select>
    <label for="city">Stad </label>
    <input required type="text" name="city" id="city">
    <label for="webpage">Hemsida för ditt katteri (länk, börja med http://)</label>
    <input type="url" name="webpage" id="webpage">
    <label for="facebook">Facebook grupp för ditt katteri (ej personlig) (länk, börja med http://)</label>
    <input type="url" name="facebook" id="facebook">
    <span>Utbildning (klicka i den utbildning du gått klart)</span>
    <div>
        <input type="checkbox" name="eduone" id="Sveraksuppfödardiplomering">
        <label for="Sveraksuppfödardiplomering">Sveraks uppfödardiplomering</label>
    </div>
    <div>
        <input type="checkbox" name="edutwo" id="PawpedsG1">
        <label for="PawpedsG1">Pawpeds G1</label>
    </div>
    <div>
        <input type="checkbox" name="eduthree" id="PawpedsG2">
        <label for="PawpedsG2">Pawpeds G2</label>
    </div>
    <div>
        <input type="checkbox" name="edufour" id="PawpedsG3">
        <label for="PawpedsG3">Pawpeds G3</label>
    </div>
    <div class="flex">
        <label for="agreeone">Uppdatering av min information: Jag förstår att jag fyller i detta formulär från början och skickar in igen om jag behöver ändra mina uppgifter. Jag förstår att ingen uppdaterar information, utan dubbletter tas bort. </label>
        <input required type="checkbox" id="agreeone">
    </div>
    <div class="flex">
        <label for="agreetwo">Tas bort från Uppfödarlistan: Jag förstår att jag PM:ar Anna Elmdahl eller en moderator i Sibirisk katt om jag vill bli borttagen från listan.</label>
        <input required type="checkbox" id="agreetwo">
    </div>
    <div class="flex">
        <label for="agreethree">Då jag skickar in detta formulär accepterar jag att mina uppgifter publiceras i Uppfödarlistan som kommer att länkas till Facebookgrupperna Sibirisk katt och Sibiriska katter och kullar. Informationen lagras på en extern server, listan är ej sökbar utanför Facebookgrupperna.</label>
        <input required type="checkbox" id="agreethree">
    </div>
    <input type="submit" value="Skicka anmälan">
</form>