<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="anmalan.css">
    <title>Lyckades</title>
</head>
<body>
    <h1>Tack <%= user.name %></h1>
    <p>Nu m책ste din anm채lan bli godk채nnd innan den kan visas p책 sidan</p>
</body>
</html>