<img src="katt.jpg">
<h1>Uppfödarlista Vår Sibiriska katt</h1>
<p>
    Vi presenterar här vår uppfödarlista som från början skapats i <a href="https://www.facebook.com/groups/105058166459">Facebookgruppen ”Sibirisk katt”</a>. Tanken med listan är att du som söker sibbe kan hitta seriösa uppfödare som säljer registrerade kattungar.
</p>
<h2>Letar du sibirisk katt?</h2>
<p>
    Läs gärna vår <a href="https://sibiriskakatten.se/kopa-sibirisk-katt">guide för ett tryggt köp av sibirisk kattunge</a> och undviker bli lurad. Du kan också hitta sibiriska kattungar till salu här <a href="https://sibiriskakatten.se/annonser-sibirisk-katt/article/annonser-sibiriska-kattungar">Annonser sibiriska kattungar</a> Där finns fina, registrerade kattungar med stamtavla och hälsotest på mamma- och pappakatt utskrivet.
</p>
<h2>Varning</h2>
<p>
    Vi vill varna för oseriösa uppfödare som finns på olika ställen i landet. Var noga då du köper katt så du inte blir lurad! Vi tillåter inga "oseriösa" uppfödare att vara med på vår lista. Med "oseriös" menar vi t.ex. de som medvetet avlar på sjuka katter eller har sålt sjuka kattungar, som säljer kattungar med påhittade stamtavlor, låter honorna få täta kullar utan återhämtning, låter hanar bo instängda i undermåliga utrymmen. Vi låter heller inte uppfödare som är avstängd från en kattklubb eller riksförbund eller som är dömd i Tingsrätten för kattrelaterade fall finnas på vår uppfödarlista. Allt detta har tyvärr hänt, och vi gör vårt bästa för att hålla vår lista fri från dessa personer. Hos oss kan du vara trygg.
</p>
<p>
    Vill du ha kontakt med oss kan du maila hej@sibiriskakatten.se.
</p>
<div class="controls">
    <div>
        <label>Sök efter uppfödare, stamnamn eller län</label>
        <div class="search">
            <input type="text" class="searchInput">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#608283" width="18px" height="18px"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>
        </div>
    </div>
    <div>
        <span>Sortera</span>
        <button class="selected">Län</button>
        <button>Namn</button>
    </div>
</div>
<div class="info"></div>
<template class="rowTemplate">
    <div class="row">
        <h1 data-stamnamn></h1>
        <span>Uppfödare</span>
        <p data-name></p>
        <span>Stad</span>
        <p data-City></p>
        <span data-edu-span>Utbildningar</span>
        <ul data-edu></ul>
        <a target="_blank" data-web>Uppfödarens hemsida</a>
        <a target="_blank" data-facebook>Uppfödarens facebookgrupp</a>
    </div>
</template>
<script>const allData = <%- JSON.stringify(people) %>; </script>