<div class="wrongPass" style="padding:100px 0; max-width: 500px; margin:0 auto;">
    <h1>Vill du se vår uppfödarlista?</h1>
    <p>
        De uppfödare som är aktiva i <a href="https://www.facebook.com/groups/105058166459/?ref=share">Facebookgruppen Sibirisk katt</a> kan du hitta på vår Uppfödarlista. Gå med i Facebookgruppen, titta under "Meddelande" eller sök "Uppfödarlista" i gruppen så hittar du länken.<br><br>
        
        Du får en extra säkerhet genom vår lista då vi inte tillåter "oseriösa" uppfödare att vara med. Med oseriös menar vi de som sålt sjuka katter, katter med påhittade stamtavlor, låter honorna få täta kullar utan återhämtning, låter hanar bo instängda i undermåliga utrymmen etc. Detta har tyvärr hänt, och vi gör vårt bästa för att bidra till den seriösa aveln för hälsosamma Sibiriska katter. <br><br>

        Läs mer på <a href="/om">Om</a> och <a href="/sibirisk-katt">Sibirisk katt</a> här på vår hemsida som vi skapat för att bidra till friska Sibiriska katter.
    </p>
</div>