:root {
    --clr-prim:#2B806A;
    --clr-prim-rgb:43, 128, 106;
    --clr-prim-2:#97124C;
    --clr-text:#222;
    --clr-box:#fafafa;
    --cubic: cubic-bezier(0.11, 0.54, 0.33, 1.01);
    --header-height: 44px;
    --shadow:0 1px 2px 0px rgba(0,0,0,.2);
}

*,*::before,*::after {
    box-sizing:border-box;
}

body {
    margin:0; 
    padding:50px 3%;   
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

a {
    color: var(--clr-prim);
    text-decoration: none;
    font-weight: bold;
}

p {
    line-height: 26px;
}

button, textarea {
    font-family: 'PT Sans', sans-serif;
}

.message {
    background: var(--clr-prim);
    display: flex;
    justify-content: space-between;
    padding:10px 3%;
}

.message.error {
    background: var(--clr-prim-2);
}

.message p {
    margin:0;
    color:#fff;
}

.message button {
    background: none;
    border:none;
    color:#fff;
    font-weight: bold;
}

svg {
    width:50px;
    height:70px;
}

form input {
    width:100%;
    border:2px solid var(--clr-prim);
    font-size:16px;
    padding:5px 10px;
    -webkit-appearance: none;
    border-radius:4px;
}

form button {
    width:100%;
    margin:10px 0;
    background: var(--clr-prim);
    border:none;
    padding:7px 10px;
    font-size:16px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

@media (min-width:800px) {
    .cols {
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .cols > * {
        padding: 0 50px;
    }

    .startPage {
        border-right: 2px solid var(--clr-prim)
    }
}